/* App全体＝画面いっぱい表示 */
.App {
  text-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
}

/* App全体＝グリッド3枠で表示 */
/*.pokemonCardContainer {　*/
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center; /* 中央 */
  /*gap:20px;*/ /* グリッド間の間隔 */
  /*margin-top: 20px;*/
/*}*/